Unchained.mpq/data/local/lng/strings/MyTranslatedStrings.json
Unchained.mpq/data/local/lng/strings/ID_List.txt
Unchained.mpq/data/local/lng/strings/D2R_TranslateString.ps1
*.code-workspace
/d2rloader/plugins/Disabled
Unchained.mpq/Launcher Files/launcher_mod_cfg.json
d2rloader/config/d2rloader.toml
/d2rloader/logs
d2rloader/metadata.json
*.txtworkspace
